@font-face {
    font-family:neu ;
    src: url(./NeueHaasDisplayMediumItalic.ttf);
}
@font-face {
    font-family:neu ;
    font-weight: 100;
    src: url(./NeueHaasDisplayLight.ttf);
}
@font-face {
    font-family:neu ;
    font-weight: 200;
    src: url(./NeueHaasDisplayRoman.ttf);
}

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family:neu;
}

html, body{
    height: 100%;
    width: 100%;
}
#main{
   /* background-color: #000;  */
   position: relative;
   z-index: 10;
}
/* Page 1 */
#page1{
    min-height: 100vh;
    width: 100%;
    background-color: #EFEAE3;
    position: relative;
    padding-bottom:2vw 2vw ;
}
nav{
    padding:2vw 2vw ;
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    position: relative;
    z-index: 100;
    justify-content: space-between;
}
/* Nav page2 */
#nav-part2{
    display: flex;
    align-items: center;
    gap: 1vw;
}
#nav-part2 h5{
    padding: 10px 20px;
    border: 1px solid #8a8a8a89;
    border-radius: 50px ;
    font-weight: 500px;
    color: #000000bb;
    transition: all ease 0.4s;
    position: relative;
    font-size: 18px;
    overflow: hidden;
}
#nav-part2 h5::after{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: black;
    left: 0;
    /* bottom: 0; */
    bottom: -100%;
    border-radius: 50%;
    transition: all ease 0.4s;
}
#nav-part2 h5:hover::after{
    bottom: 0;
    border-radius: 0;
}
#nav-part2 h5 a{
    color: #000000bb;
    text-decoration: none;
    z-index: 9;
    position: relative;
}
#nav-part2 h5:hover a{
    color: white;
}
nav h3{
    display: none;
}
 /* Hero */
#center{
    height: 75vh;
    width: 100%;
    /* background-color: orange; */
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    border-bottom: 1px solid #0000003c;
    padding-bottom: 2.5vw;
}
#left h3{
    width: 25vw;
    font-size: 1.8vw;
    line-height: 2vw;
    padding-left: 2vw;
}
#center h1{
    font-size: 10vw;
    text-align: right;
    line-height: 8vw;
    padding-bottom: 30px;
    padding-right: 50px;
}
#page1 video{
    border-radius: 50px;
    margin-top: 4vw;
    width: 100%;
    padding-left: 2vw;
    padding-right: 2vw;
    position: relative;
}

#hero-shape
{
    position:absolute;
    width: 46vw;
    height: 36vw;
    /* background-color: #FE320A; */
    /* border-radius: 50%; */
    /* border-top-left-radius: 50%; */
    /* border-bottom-left-radius: 50%; */
    right: 0%;
    top: 77vh;
    /* filter: blur(20px); */
}
#hero-1{
    background-color: #FE320A;
    height: 100%;
    width: 100%;
    /* background-color: blue; */
    border-bottom-left-radius: 50%;
    border-top-left-radius: 50%;
    filter: blur(15px);
    position: absolute;
}
#hero-2{
    background-color: #FE320A;
    height: 30vw;
    width: 30vw;
    position: absolute;
    /* background-color: blue; */
    /* border-bottom-left-radius: 50%;
    border-top-left-radius: 50%; */
    animation-name: animel1;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    border-radius: 50%;
    filter: blur(25px);
}
#hero-3{
    background:linear-gradient(#FE320A,#f32f07);
    height: 30vw;
    width: 30vw;
    position: absolute;
    /* background-color: blue; */
    /* border-bottom-left-radius: 50%;
    border-top-left-radius: 50%; */
    border-radius: 50%;
    filter: blur(30px);
    animation-name: animel;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}
@keyframes animel {
    from{
        transform: translate(55%,-3%);
    }
    to{
        transform: translate(0%,10%);
    }
}
@keyframes animel1 {
    from{
        transform: translate(5%,-5%);
    }
    to{
        transform: translate(-20%,30%);
    }
}
/* Page2 */
#page2{
    min-height: 100vh;
    width: 100%;
    background-color:#EFEAE3 ;
    padding-top: 8vw 0;
    position: relative;
}
#moving-text{
    overflow-x:auto ;
    display: flex;

}
#moving-text::-webkit-scrollbar{
    display: none;
}
.con{
    /* background-color: lightblue; */
    /* margin-bottom: 10px; */
    white-space: nowrap;
    animation-name: move;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
#moving-text h1{
    font-size: 9vw;
    display: inline-block;
}
.goal{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: hsl(10, 99%, 52%);
    display: inline-block;
    margin: 1vw 2vw;
}

@keyframes move {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}

/* Page2-Bottom */
#page2-bottom{
    height: 90%;
    width: 100%;
    /* background-color: aliceblue; */
    padding:4.5vw;
    display: flex;
    align-items:center ;
    justify-content: space-between;
    position: absolute;
    z-index: 9;
}
#page2-bottom h1{
    font-size: 4vw;
    width: 60%;
    line-height: 4vw;
}

#bottom-part2{
    width: 18%;
    /* background-color: aqua; */
    
}
#bottom-part2 img{
    width: 100%;
    border-radius: 20px;
    
}
#bottom-part2 p{
    font-weight: 200;
    margin-top: 2vw;
    font-size: 1vw;
} 

#page2 #gooey{
    height: 28vw;
    width: 28vw;
    position: absolute;
    border-radius: 50%;
    background: linear-gradient(to top right,#ff2d03,#ff5c0b);
    top: 58%;
    left: 25%;
    filter: blur(20px);
    animation-name: gooey;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
}
@keyframes gooey{
    from{
        transform: translate(20%,-15%) skew(0);
    }
    to{
        filter: blur(30px);
        transform: translate(-10%,5%) skew(-12deg);
    }
}

#page3{
    min-height: 200vh;
    width: 100%;
    background-color: #EFEAE3;
    /* position: relative; */
    padding:4vw 0;
    padding-top: 50px;
}

/* Page3 */
.elem{
    height: 120px;
    width: 100%;
    position: relative;
    /* border-top: 1px solid #000; */
    border-bottom: 1px solid #000;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0vw 2vw;
}
.elem h2{
    font-size: 3vw;   
    position: relative;
    z-index: 9; 
}
.elem .overplay{
    height: 100%;
    width: 100%;
    background-color: orange;
    position: absolute;
    left: 0;
    top: -100%;
    transition:all ease 0.25s ;
}

.elem:hover .overplay{
    top: 0;
}
.part h6{
      position: relative;
      color: #0b0500;
      font-size: 12.25px;
      font-family:'Times New Roman', Times, serif;
    /* padding: 1rem; */
    /* margin: 60rem; */
    /* position: absolute; */
    /* position: relative; */
    
    /* display: flex;
    align-items: end;
    justify-content: end; */
    /* margin-left: 1000px; */
}
.part p{
    position: relative;
    color:#00000066 ;
    font-size: 12.25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.elem:hover .part{
    top: 0;
    
}
/* #elem-container{
    /* background-color: red;  */
/* } */
#fixed-image{
    height: 30vw;
    width: 24vw;
    /* background-color: red; */
    border-radius: 15px;
    position: fixed;
    z-index: 99;
    left: 50%;
    top: 25%;
    display: none;
    background-size: cover;
    background-position:center;
}

/* Page 4 */
#page4{
    height: 60vh;
    width: 100%;
    background-color: #EFEAE3;
    padding:4vw 13vw;
}
.swiper {
    width: 100%;
    height: 100%;

  }

  .swiper-slide {
    /* text-align: center; */
    font-size: 18px;
    /* background: #fff; */
    /* display: flex;
    justify-content: center;
    align-items: center; */
    width: 30%;
    border-left: 1px solid #aeadad;
  }
.swiper-slide img{
    padding-left: 30px;
}
.swiper-slide p{
    margin-top: 30px;
    padding-left: 30px;
    color: #0b0500;
    margin-bottom: 0;
    font-family: Neuehaasdisplay roman,sans-serif;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.4;
}
  /* .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  } */

  
/* Page 5 */
#page5 {
    height: 100vh;
    width: 100%;
    /* background-color: #EFEAE3; */
}

#footer {
    position: fixed;
    height: 105vh;
    width: 100%;
    background-color: #000;
    color: #fff;
    z-index: 9;
    bottom: 0;
    display: flex;
    /* align-items: flex-end; */
    justify-content: flex-end;
    flex-direction: column;
    padding: 1vw 3vw;
}
#footer h1 {
    font-size: 23vw;
}

#footer-div{
    height: 20vh;
    width: 100%;
    background-color: red;
}
#footer-bottom{
    border-top:1px solid #dadada ;
    height: 4vh;
    width: 100%;
}
#Copyright{
    color: #EFEAE3;
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
    /* margin-bottom: 30px; */
    margin-bottom: 10px;
    justify-content: space-between;
}    
#Copyright p{
    font-size: 14px;
    /* padding-left: 10px; */
    /* padding-left: 0%; */
    margin-left: 0px;
}
#Copyright a{
    font-size: 14px;
    color:#EFEAE3;
    margin-left: 150px;
}
#full-scr{
    height: 100vh;
    width: 100%;
    background-color: #00000070;
    position: fixed;
    z-index: 99;
    top: -100%;
    transition: all ease 0.5s;
}
#full-div1{
    height: 50%;
    width: 100%;
    background-color: #EFEAE3;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
/* Responsive  */
@media (max-width:600px){
    #page1{
        min-height: 100vh;
        width: 100vw;
        padding:0 0vw ;
    }
    nav{
        padding:8vw 5vw ;
        background-color: #EFEAE3;
        /* background-color: red; */
        /* position: relative;
        z-index: 10980; */
        padding: 5vw 5vw;
    }
    nav img{
        transition: all ease 0.2s;
        height: 9vh;
    }
    /* Nav page2 */
    #nav-part2{
        display: none;
    }
    nav h3{
        display: block;
        padding: 3vw 5vw;
        border: 1px solid #ababab;
        border-radius: 50px;
        font-size: 4vw;
        font-weight: 200;
        padding-left: 10vw;
    }
    #center{
        height: 72vh;
        width: 100%;
        /* background-color: orange; */
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        border-bottom: 1px solid #0000003c;
        padding: 10vw 5vw;
        /* padding-right: 1; */
        padding-bottom: 10vw;
        flex-direction: column-reverse;
        position: relative;
        z-index: 9;
    }
    #left h3{
        width: 80%;
        font-size: 6vw;
        line-height: 7vw;
        /* padding-left: 2vw; */
    }
    #center h1{
        font-size: 18vw;
        text-align: right;
        line-height: 16vw;
        padding-right: 0;
        position: relative;
        font-weight: 500;
        /* padding-top: 4vw; */
        /* padding-bottom: 30px;
        padding-right: 50px; */
    }
    #page1 video{
        border-radius: 15px;
        margin-top: 4vw;
        height: 70vh;
        object-fit: cover;
        object-position: center;
        width: 96%;
        margin-left: 2%;
        padding-left: 2vw;
        padding-right: 2vw;
        position: relative;
    }
    #page2{
        min-height: 100vh;
        width: 100%;
        background-color:#EFEAE3 ;
        padding-top: 8vw 0;
        position: relative;
    }
    #moving-text{
        overflow-x:auto ;
        display: flex;
    
    }
    #moving-text::-webkit-scrollbar{
        display: none;
    }
    .con{
        /* background-color: lightblue; */
        /* margin-bottom: 10px; */
        white-space: nowrap;
        animation-name: move;
        animation-duration: 10s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
    }
    #moving-text h1{
        font-size: 15vw;
        display: inline-block;
        margin: 10vw 1vw;
    }
    .goal{
        height: 26px;
        width: 26px;
        border-radius: 50%;
        background-color: hsl(10, 99%, 52%);
        display: inline-block;
        margin: 2vw 1vw;
        /* align-items: center; */
    }
    #page2-bottom{
        height: 90%;
        width: 100%;
        /* background-color: aliceblue; */
        padding:10vw 4vw;
        display: flex;
        align-items:flex-start;
        justify-content: space-between;
        position: absolute;
        flex-direction: column;
        z-index: 9;
    }
    #page2-bottom h1{
        font-size: 8vw;
        width: 100%;
        line-height: 8vw;
    }
    
    #bottom-part2{
        width: 70%;

        /* background-color: aqua; */
        
        
    }
    #bottom-part2 img{
        width: 100%;
        border-radius: 5px;
        /* margin: 3vw; */
        /* z-index: 0; */
        /* width: 100%;
        height: 100%; */
        object-fit: cover;
        /* position: relative; */
        /* margin-bottom: 15vw; */
        
    }
    #bottom-part2 p{
        font-weight: 300;
        margin-top: 4vw;
        font-size: 4vw;
        align-items: flex-start;
        padding-top: 0vw;
        /* margin-top: 2vw; */
    } 
    
    #page2 #gooey{
        height: 72vw;
        width: 72vw;
        position: absolute;
        border-radius: 50%;
        background: linear-gradient(to top right,#ff2d03,#ff5c0b);
        top: 58%;
        left: 25%;
        filter: blur(20px);
        animation-name: gooey;
        animation-duration: 6s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
        animation-direction: alternate;
    }
    @keyframes gooey {
        from{
             transform: translate(20%,-50%);
        }
        to{
            transform: translate(-10%,-20%);
        }
    }
    
}

/* Loader */
#loader{
    height: 100%;
    width: 100%;
    background-color: #000;
    position: fixed;
    transition: all ease 1s;
    top: 0;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
}

#loader h1{
    font-size: 4vw;
    color: transparent;
    background: linear-gradient(to right,orange,orangered);
    -webkit-background-clip: text;
    position: absolute;
    opacity: 0;
    animation-name: load;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-timing-function: linear;
}
#loader h1:nth-child(2){
    animation-delay: 2s;
}
#loader h1:nth-child(3){
    animation-delay: 3s;
}


@keyframes load {
    0%{
        opacity: 0;
    }
    10%{
        opacity: 1;
    }
    90%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

@media (max-width:600px) {
    #loader h1{
        font-size: 9vw;
      
    }
}

















































































































































































































































































































































































































































































